<a href="https://colab.research.google.com/github/kimdoo33669/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH2. 서식출력 print()#

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서지정가능:format

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

#### 서식출력

In [ ]:
print("\n줄 바꿈 명령 \n연습입니다.")

줄 바꿈 명령
연습입니다.

In [ ]:
print( "\t텝키 명령 \t연습입니다")

	텝키 명령 	연습입니다

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬래시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과2
역슬래시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [ ]:
a,b= 10,20
print(a==b, a!=b,a>=b, a<=b,a>b, a<b)

False True False True False True

#### 논리 연산자 and,or,not

In [ ]:
a=95
print((a>100) and (a<200)) #100보다 크고 200보다작다, 100<a<200, 거짓
print((a<100) or (a>200))# a<100, a>200 둘중에 하나
print(not(a==200)) #a<=99, a>=101

False
True
True

In [ ]:
if(1):
  print("참이면 실행되어 보임") # if 옆에 1이상이면 글자가 보임

if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 int(input("입력:") 지폐 금액입력후 동전으로 교환시(500원,100원,50원,10원)
money c500 c100 c50 c10  
받은돈: ?원  
500원: n개  
100원: n개  
50원: n개  
10원: n개  
나머지:?원

In [ ]:
money=(int(input("지폐 금액: ")))
a=money
print(type(a))
print("500원은",a/500,"개")
print("100원은",a/100,"개")
print("50원은",a/50,"개")
print("10원은",a/10,"개")

nul=(int(input("총 넣은 금액: ")))
b=nul
print(b/)

지폐 금액: 156
<class 'int'>
500원은 0.312 개
100원은 1.56 개
50원은 3.12 개
10원은 15.6 개
총 넣은 금액: 85
<class 'int'>

In [ ]:
money,c500,c100,c50,c10=0,0,0,0,0
monry=int(input("동전으로 교환할돈은?: "))
print("입력받은돈은 %d원" % money )
c500 = money // 500 #몫
money = c500
c100 = money //100
money %=100
c50 = money //50
money %=50
c10 = money //10
money %=10
print("입력받은 돈은 : %d" % temp)
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c100)
print("50원 동전 : %d" % c50)
print("10원 동전 : %d" % c10)
print("나머지 잔돈 : %d" % money)

동전으로 교환할돈은?: 165
입력받은돈은 0원

NameError: ignored

### 조건문

In [ ]:
a=50
if(a<100):
print("참:100보다 작음")

  else:
  print("거짓:조건보다 크면")

  print("프로그램 끝")

IndentationError: ignored

In [ ]:
# 홀짝구분

a=int(input("숫자입력: "))
if(a%2)==():
  print("짝수입니다")
else :
    print("홀수입니다")

숫자입력: 9
홀수입니다

In [ ]:
a=int(input("숫자입력: "))
if(a>50):
  if(a<100):
    print("50<a<100")
else:
      print("a>100")
     else:
if(a>25):
          print("25<a<50")
else:
            print("a<25")

SyntaxError: ignored

In [ ]:
fruit= ['사과', '망고', '샤인머스켓','바나나']
fruit,append ('망고')
if'망고' in fruit :
  print("망고가있습니다")
  print(fruit)

NameError: ignored

In [ ]:
for i in range(0,3,1): #시작값, 끝값+1, 증가값
 print("%d 안녕하세요"% i)
print("환영합니다^^")

0 안녕하세요
1 안녕하세요
2 안녕하세요
환영합니다^^

In [ ]:
import random
number=[]
for i in range(0,6):
  num.append(random.randrange(1,46))
  print("생성리스트",num)

NameError: ignored

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end='\t')
  print("\n")
  for j in range(1,9,1):
   print("%d" % j, end='\t')

1

1	2	3	4	5	6	7	8	2

1	2	3	4	5	6	7	8	3

1	2	3	4	5	6	7	8	4

1	2	3	4	5	6	7	8	5

1	2	3	4	5	6	7	8	6

1	2	3	4	5	6	7	8	7

1	2	3	4	5	6	7	8	8

1	2	3	4	5	6	7	8

In [ ]:
sum=0
for i in range(1,11,1):
 sum = sum+i
print("1부터 10까지의 합: %d" % sum)

1부터 10까지의 합: 55

In [ ]:
sum,num=0,0
num = int(input("숫자입력: "))
for i in range(1,num+1,1):
 sum = sum+i
print("1~n까지의 합: %d" % sum)

숫자입력: 165
1~n까지의 합: 13695

In [ ]:
i,j=2,2
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
i,j,k=0,0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d * %d = %2d\n" % (i,j,i*j))
    print("\n")

2 * 1 =  2



2 * 2 =  4



2 * 3 =  6



2 * 4 =  8



2 * 5 = 10



2 * 6 = 12



2 * 7 = 14



2 * 8 = 16



2 * 9 = 18



3 * 1 =  3



3 * 2 =  6



3 * 3 =  9



3 * 4 = 12



3 * 5 = 15



3 * 6 = 18



3 * 7 = 21



3 * 8 = 24



3 * 9 = 27



4 * 1 =  4



4 * 2 =  8



4 * 3 = 12



4 * 4 = 16



4 * 5 = 20



4 * 6 = 24



4 * 7 = 28



4 * 8 = 32



4 * 9 = 36



5 * 1 =  5



5 * 2 = 10



5 * 3 = 15



5 * 4 = 20



5 * 5 = 25



5 * 6 = 30



5 * 7 = 35



5 * 8 = 40



5 * 9 = 45



6 * 1 =  6



6 * 2 = 12



6 * 3 = 18



6 * 4 = 24



6 * 5 = 30



6 * 6 = 36



6 * 7 = 42



6 * 8 = 48



6 * 9 = 54



7 * 1 =  7



7 * 2 = 14



7 * 3 = 21



7 * 4 = 28



7 * 5 = 35



7 * 6 = 42



7 * 7 = 49



7 * 8 = 56



7 * 9 = 63



8 * 1 =  8



8 * 2 = 16



8 * 3 = 24



8 * 4 = 32



8 * 5 = 40



8 * 6 = 48



8 * 7 = 56



8 * 8 = 64



8 * 9 = 72



9 * 1 =  9



9 * 2 = 18



9 * 3 = 27



9 * 4 = 36



9 * 5 = 45



9 * 6 = 54



9 * 7 = 63



9 * 8 = 72



9 * 9 = 81

### 퀴즈3 구구단을 만들고 2,3,4,5 
### 줄바꿔서6,7,8,9를 출력하세요

In [1]:
i,j=2,2
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=3,3
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=4,4
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=5,4
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=6,5
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=7,6
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=8,7
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=9,8
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

i,j=9,9
for i in range(1,10,1):
  print("%d x %d = %2d" % (j,i,i*j))
print("\n")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#CH3. 자료형

## 1. 리스트 인덱스,슬라이싱

In [5]:
a = [1,2,3,4,5,6,7,8,9]

print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [7]:
a = [1,2,3,4,5,6,7,8,9]

print(a[-1])
print(a[-2])

9
8

In [6]:
a = [1,2,3,4,5,6,7,8,9]

print(a[1:9:2])
print(a[0:9:2])

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [8]:
a = [1,2,3,4,5,6,7,8,9]

print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [9]:
a = [1,2,3,4,5,6,7,8,9]

print(len(a))
print(len(a)-1)

9
8

In [11]:
b=[1,2,3,4,5,6]

b[0]="apple"
b[1]=99
b[5]=[1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

##list add

In [14]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [16]:
k=["a","b","c","d","c"]
k.remove("c") #해당 값요소 삭제
print(k)
k.append("f") #맨뒤에 추가
print(k)

['a', 'b', 'd', 'c']
['a', 'b', 'd', 'c', 'f']

In [17]:
j="God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [19]:
j=" God is love! "
print(j.upper())
print(j.lower())
print(j.strip())

 GOD IS LOVE!
 god is love!
God is love!

In [20]:
a="apple,mango,banana"
print(a.split(","))

['apple', 'mango', 'banana']

In [25]:
a=["apple,banana,cherry"]
a.append("orange")
print(a)

['apple,banana,cherry', 'orange']

In [31]:
a=["apple","banana","cherry"]
a.insert(1,"orange")
print(a)

['apple', 'orange', 'banana', 'cherry']

In [33]:
a=["apple","banana","cherry","banana"]
a.remove("banana")
print(a)

['apple', 'cherry', 'banana']

In [34]:
a=["apple","banana","cherry"]
a.pop()
print(a)
a.pop(1)
print(a)

['apple', 'banana']
['apple']

In [35]:
fruit=["사과","배","오렌지"]
for i in fruit:
  print(i)

사과
배
오렌지

In [36]:
fruit=["감","밤","대추"]
for i in range(len(fruit)):
 print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

In [37]:
a=[8,6,1,4,5,7,2,3,9,0]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
a=[8,6,1,4,5,7,2,3,9,0]
a.sort(reverse=True)
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
fruit=["Kiwi","apple","Orange","banana"]
fruit.sort()
print(fruit)
fruit.sort(key=str.lower)
print(fruit)
fruit.reverse()
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

In [46]:
#list 복사
fruit = ["Kiwi","apple","Orange","banana"]
myList=fruit.copy()
print=(myList)
cyList=list(fruit)
print(cyList)

TypeError: ignored

# Tuple 튜플

In [51]:
l=[1,2,3]
t=(1,2,3)
print(type(l))
print(type(t))

TypeError: ignored

In [52]:
l=[1,2,3]
t=(5,6,7)

l[0]
print

In [54]:
f=("apple","banana","Cherry")
print(len(f))

TypeError: ignored

In [55]:
t=("Kiwi")
print(t)
print(type(t))

TypeError: ignored

In [56]:
f = ["banana","apple","Kiwi","cherry","Orange"]
print(f(:4))
print(f(:6))

SyntaxError: ignored

##Typle <->List

In [57]:
#튜플에 추가하는 방법
f = ["apple","Banana","cherry",]
y=list(t)
print(type(y))
y.append("Orange")
t=tuple(y)
print(t)

TypeError: ignored

In [58]:
company = ["LG","SK","Apple"]
t = tuple(company)
print(company)
print(t)

TypeError: ignored

In [59]:
c= ["LG","SK","Apple"]
d = ["Samsun",]
c+=d
print(c)

TypeError: ignored